header {
    width: 100%;
    /* background-color: #2E76E4; */
    padding: 1.5rem 0;
    /*  background-color: #bcccc1; */
    background-color: #B0C4B7;
    background-color: #A2B5A9;

}

.header {
    display: flex;
    align-items: center;
}


.logo {
    font-size: 1.3rem;
    text-decoration: none;
    margin: 0 2rem;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    z-index: 4;
}