.section_specialoffer {
    margin-top: 8em;
    background-color: #b0cece;
    padding: 70px;

}

.container.specialoffer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container.specialoffer div {
    width: 33%;
}

.section_sploffer_text {
    padding-top: 2px;
}

.section_sploffer_text p {
    padding: 4px;
}

.section_sploffer_text p span {
    text-transform: uppercase;
}