.about-section {
    display: flex;
    justify-content: space-between;
}

.picture_section {
    display: flex;
    flex-direction: column;
    margin-left: 15em;
}

.picture_section a {
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    z-index: 10;
}

.picture_section a {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}

.picture_section a:hover {
    color: #fff;
    text-shadow: 0 0 20px #fff,
        0 0 30px #ff4da6,
        0 0 40px #ff4da6,
        0 0 50px #ff4da6,
        0 0 60px #ff4da6,
        0 0 70px #ff4da6,
        0 0 80px #ff4da6, 2px 1px 2px black;
}

.photo_aboutme {
    width: 200px;
}

.text_section {
    position: relative;
    z-index: 0;
}

.text_section div {
    position: absolute;
    z-index: 1;
    text-align: center;
    /*  border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px; */
    box-sizing: border-box;
    /*  display: inline-block; */
}

.text_section div:nth-child(1) {
    top: 16em;
    left: -7em;
    color: red;

}

.text_section div:nth-child(2) {
    top: 11em;
    left: 1em;
}

.text_section div:nth-child(3) {
    top: -5px;
    left: 8px;
}

.text_section div:nth-child(4) {
    top: 17em;
    left: 11em;
}

.text_section div:nth-child(5) {
    top: 3em;
    left: 12em;
}

.text_section div:nth-child(6) {
    top: 0;
    left: 24em;
}

.girl-box {
    position: relative;
}

.img_girl {
    position: absolute;
    bottom: 16px;
    height: 150px;
}

/* .img_bulls {
    background: url("../../img/bulls.png");
    width: 100%;
    background-position: 35% -10%;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 600px;
} */

/* *****  PARALLAX ******* */

.parallax {
    position: absolute;
    top: 93em;
    left: 15em;
    width: 100%;
    height: 100%;
}


.background-smalls-bulls {
    background: url("../../img/bulls_small.png");
    width: 100%;
    background-position: 35% -10%;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 600px;
    z-index: 1;
    filter: blur(0.3px);
}

.background-bigs-bulls {
    background: url("../../img/bulls_big.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 8% 0;
    background-size: 52%;
    background-repeat: no-repeat;
    height: 600px;
}